.all {
    background-color: #431c5d;
    color: whitesmoke;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
}

.list {
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 20px;
}

.copy {
    padding-left: 35%;
    padding-bottom: 1%;
}